body {
   background: linear-gradient(to right, rgb(43, 88, 118), rgb(78, 67, 118));
}

.frame {
    display: grid;
    width: 680px;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-columns: repeat(8, 1fr);
}

.whiteHouse {
    margin-top: 0px;
    height: 80px;
    background-color: white;
    margin-bottom: 0px;
}

.blackHouse {
    margin-top: 0px;
    background-color: black;
    height: 80px;
    margin-bottom: 0px;
}

#app {
  display: flex;
  justify-content:center;
  align-content: center;
  overflow: hidden;
}

#pices {
    margin-left: 15px;
    margin-top: 20px;
}